#bod{
    background-color: blanchedalmond;
  
}

#namer{
    text-align: center;
}

#addDiv{
    background-color: crimson;
    margin-bottom:100px;

}

#subDiv{
    background-color: white;
    margin-bottom:100px;

}

#multDiv{
    background-color: blue ;
    margin-bottom:100px;

}



