#title{
    text-align: center;
    background-color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
};

#goombahpicture{
    display: inline-block;
};

#contactinfo{
    text-align: center;
};